@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Unica+One&display=swap');

/*color pallete:
Black 000000
Grey-Brown 3E3636
Red D72323
Light Red F5EDED
White FFFFFF
*/

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

body {
	color: #F5EDED;
	font-size: 18px;
  	font-family: 'Roboto Mono', monospace;
  	margin: 0px;
  	padding: 0px;
  	background-repeat: repeat-y;
	background-image: url("img/basic/mainBGver3.jpg");
	background-size: cover;
}


html {
  	margin: 0px;
  	padding: 0px;
}

#site {
	display:grid;
	grid-template-areas:"header header header header header header header"
	". main main main main right ."
	". main main main main . ."
	"update update update update update update update"
	"footnote footnote footnote footnote footnote footnote footnote";
	grid-gap:20px;
}

#header{
	grid-area: header;
}

#main{
	/*background-repeat: repeat-y;
	background-image: url("img/basic/mainBG.jpg");
	background-size: cover;*/
	grid-area:main;
}

.navMenu {
	display:flex;
	justify-content:center;
	background-color: #F5EDED;
	/*height: 32.9%;*/
}

.nav{
	/*font-family: 'Unica One', cursive;*/
	text-decoration: none;
	display:flex;
	color:#3E3636;
	padding:5px;
	width:25%;
	padding-top: .5vh;
	padding-bottom: .5vh;
	justify-content:space-around;
	background-color: #F5EDED;
	text-align:center;
	font-size: 20px;
}

.nav:hover{
	background-color: #3E3636;
	color: #F5EDED;
}

.starter{
	position:relative;
/*	width:100%;*/
	height:27.78vw;
	background-image: url("img/basic/starterBG.jpg");
	background-size: cover;
}

.title{
	position:absolute;
	color:#FFFFFF;
	text-align: left;
	font-size: 70px;
	padding-top: 70px;
	bottom:0%;
	left:11%;
	font-family: 'Unica One', cursive;
}

#rightInfo{
	position: relative;
	left:6vw;
	width:23vw;
	grid-area:right;
	display:grid;
	grid:". profile ."
	"title title title"
	"main main main";
	background-color: #3E3636;
}

#profilePicContainer{
	padding-top: 2vh;
	display:flex;
	justify-content:center;
	grid-area:profile;
}

#profilePic{
	width: 100px;
	height: 100px;
}

#profileTitle{
	grid-area:title;
	font-family: 'Unica One', cursive;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 5px;
	margin-bottom:5px;
}

#profileText{
	grid-area:main;
	margin:0px;
	padding:10px;
	padding-left: 15px;
	padding-bottom:3vh; 
}

#footnote{
	grid-area:footnote;
	font-size: 0.8rem;
	background-color: #3E3636;
	color: #F5EDED;
}

#footnote p{
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 1vh;
	text-align: center;
}

#selectedWorkSection{
	display:flex;
	justify-content:center;
}

#selectedGrid{
	display:grid;
	grid-gap:0px;
	grid:". title title"
	"drawn others photo"
	"drawn others game"
	". title2 title2"
	"review review review";
}

/*.homeTitle{
	position:absolute;
	color: white;
	font-size: 36px;
	text-align: right;	
	padding:10px;
	background-color: #F5EDED;
}
*/
.selectedShow{
	width:18vw;
	background-size: cover;
	color:transparent;
	text-decoration: none;
}

.selectedWorkTitle{
	font-size: 2rem;
	grid-area:title;
	text-align: right;
	background-color: #D72323;
	font-family: 'Unica One', cursive;
}

.selectedWorkTitle2{
	font-size: 2rem;
	grid-area:title2;
	text-align: right;
	background-color: #D72323;
	font-family: 'Unica One', cursive;
}

#drawing{
	grid-area:drawn;
	background-image: url("img/gallery/selectedWork/drawingShow.jpg");
	height:36vw;
}

#drawing:hover{
	background-image: url("img/gallery/selectedWork/redCover.jpg");
}

#others{
	grid-area:others;
	height:36vw;
	background-image: url("img/gallery/selectedWork/installationShow.jpg");
}

#others:hover{
	background-image: url("img/gallery/selectedWork/redCover.jpg");
}

#photo{
	grid-area:photo;
	height:18vw;
	background-image: url("img/gallery/selectedWork/photoShow.jpg");
}

#photo:hover{
	background-image: url("img/gallery/selectedWork/redCover.jpg");
}

#game{
	grid-area:game;
	height:18vw;
	background-image: url("img/gallery/selectedWork/gameShow.jpg");
}

#game:hover{
	background-image: url("img/gallery/selectedWork/redCover.jpg");
}

#review{
	grid-area:review;
	width:54vw;
	height: 36vw;
	background-image: url("img/gallery/selectedWork/latestReview.jpg");
}

#review:hover{
	background-image: url("img/gallery/selectedWork/redCover.jpg");
}

.selectedShow:hover{
	color:#FFFFFF;
}

.selectedTitle {
	font-family: 'Unica One', cursive;
	font-size: 1.5rem;
	padding:20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#review .selectedTitle {
	padding-top: 30%;
	font-size: 3rem;
}

.selectedText {
	padding:20px;
	padding-top: 5px;
	margin-top: 0px;
}

#updateContainer{
	grid-area:update;
	display:flex;
	justify-content:center;
	background-color: #F5EDED;
	color:#3E3636;
}

#updateBox{
	width: 84%;
	padding: 50px;
}

#updateContainer h1{
	position: relative;
	padding-top: 30px;
	font-family: 'Unica One', cursive;
	font-size: 4rem;
}

.updateArticle{
	padding-left: 3vw;
	border-style: none none groove none;
	display: grid;
	grid:"title pic"
	"date pic"
	"abs pic";
}

.updateArticle a{
	text-decoration: none;
	color: #000000;
	padding-top: 3vh;
	grid-area:title;
	font-family: 'Unica One', cursive;
	font-size: 2rem;
}

.updateArticle a:hover{
	color: #757882;
}

.updateAbstract{
	grid-area:abs;
}

.updateDate{
	color: #3E3636;
	font-size: 1rem;
}

.updateArticle img{
	padding-top:10px;
	padding-bottom:10px;
	grid-area:pic;
	width:20%;
/*	position:relative;
	right:0px;*/
}

#firstUpdate{
	border-style: groove none;
}